<div class="w3-container w3-display-middle w3-center w3-border" style="width:25%">
  <div class="w3-container w3-blue">
  <h2>Editar Perfil</h2>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "w3-text-blue" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w3-border w3-light-grey" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: "w3-text-blue" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "w3-border w3-light-grey"%>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "w3-text-blue" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w3-border w3-light-grey" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "w3-text-blue" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "w3-border w3-light-grey" %>
  </div>
    <div class="w3-bar">
      <div class="actions">
        <%= f.submit "Atualizar", class: "w3-bar-item w3-button" %>
      </div>
      <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "w3-bar-item w3-button"%></p>
      <%= link_to "Back", :back, class: "w3-bar-item w3-button" %>
<% end %>
    </div>
</div>