<p id="notice"><%= notice %></p>

<h1>Grupo Caracteristicas</h1>

<table>
  <thead>
    <tr>
      <th>Caracteristicas</th>
      <th>Cadastro produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_caracteristicas.each do |grupo_caracteristica| %>
      <tr>
        <td><%= grupo_caracteristica.caracteristicas %></td>
        <td><%= grupo_caracteristica.cadastro_produto %></td>
        <td><%= link_to 'Show', grupo_caracteristica %></td>
        <td><%= link_to 'Edit', edit_grupo_caracteristica_path(grupo_caracteristica) %></td>
        <td><%= link_to 'Destroy', grupo_caracteristica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo Caracteristica', new_grupo_caracteristica_path %>
