<%= form_with(model: cad_produto, local: true) do |form| %>
  <% if cad_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cad_produto.errors.count, "error") %> prohibited this cad_produto from being saved:</h2>

      <ul>
      <% cad_produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria %>
  </div>

  <div class="field">
    <%= form.label :produto %>
    <%= form.text_field :produto %>
  </div>

  <div class="field">
    <%= form.label :caracteristica %>
    <%= form.text_area :caracteristica %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
