<!DOCTYPE html>
<html>
<title>Cadastrar</title>

<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <header class="w3-container w3-blue w3-center " style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Cadastrar</h1>
    <button class="w3-btn w3-black w3-padding-large w3-large w3-margin-top w3-ripple">Novo Produto</button>
  </header>





<!-- <table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Produto</th>
      <th>Caracteristica</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
    <% @cad_produtos.each do |cad_produto| %>
      <tr>
        <td><%= cad_produto.categoria %></td>
        <td><%= cad_produto.produto %></td>
        <td><%= cad_produto.caracteristica %></td>
        <td><%= cad_produto.user %></td>
        <td><%= link_to 'Show', cad_produto %></td>
        <td><%= link_to 'Edit', edit_cad_produto_path(cad_produto) %></td>
        <td><%= link_to 'Destroy', cad_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cad Produto', new_cad_produto_path %> -->
