<!DOCTYPE html>
<html>
<title>Cadastrar</title>

<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <header class="w3-container w3-blue w3-center " style="padding:50px 16px">
    <h1 class="w3-margin w3-jumbo">Cadastrar</h1>
    <a href="cad_produtos/new"><button class="w3-btn w3-black w3-padding-large w3-large w3-margin-top">Novo Produto</button></a>
  </header>

<!DOCTYPE html>
<html>
<head>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0b82dd;
    color: white;
}
</style>
</head>
<body>

<table id="customers">
    <thead>
    <tr>
      <th>Categoria</th>
      <th>Produto</th>
      <th>Caracteristica</th>
      <th>Imagem</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @cad_produtos.each do |cad_produto| %>
      <tr>
        <td><%= cad_produto.categoria %></td>
        <td><%= cad_produto.produto %></td>
        <td><%= cad_produto.caracteristica %></td>
        <td align="center"><%= image_tag cad_produto.imagem.url(:medium) %></td>
        <td><%= link_to 'Expandir', cad_produto %></td>
        <td><%= link_to 'Editar', edit_cad_produto_path(cad_produto) %></td>
      </tr>
    <% end %>
      <tr>
        <td align="center" colspan="6"><%= link_to "Download CSV", cad_produtos_path(format: "csv") %></td>
      </tr>
  </tbody>
</table>


</body>
</html>
