<p id="notice"><%= notice %></p>
<div class="w3-container w3-display-middle w3-center w3-border" style="width:25%">
  <div class="w3-container w3-blue">
  <h2>Descrição Completa</h2>
  </div>

<p>
  <strong>Categoria:</strong>
  <%= @cad_produto.categoria %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @cad_produto.produto %>
</p>

<p>
  <strong>Caracteristica:</strong>
  <%= @cad_produto.caracteristica %>
</p>

<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>

<p>
	<strong>Imagem:</strong><br />
	<%= image_tag @cad_produto.imagem.url(:medium) %>
</p>


<%= link_to 'Editar', edit_cad_produto_path(@cad_produto) %> |
<%= link_to 'Voltar', cad_produtos_path %>
