<%= form_with(model: cadastro_produto, local: true) do |form| %>
  <% if cadastro_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro_produto.errors.count, "error") %> prohibited this cadastro_produto from being saved:</h2>

      <ul>
      <% cadastro_produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :categoria_produto %>
    <%= form.text_field :categoria_produto %>
  </div>

  <div class="field">
    <%= form.label :produto %>
    <%= form.text_field :produto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
