<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria produto:</strong>
  <%= @cadastro_produto.categoria_produto %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @cadastro_produto.produto %>
</p>

<%= link_to 'Edit', edit_cadastro_produto_path(@cadastro_produto) %> |
<%= link_to 'Back', cadastro_produtos_path %>
